/*main style*/
.xloo-title-dark-text {
  font-size: 34px;
  line-height: 40px;
  font-weight: 600;
  color: #212529;
}

.xloo-secondary-text-dark {
  text-align: justify;
  font-size: 15px;
  color: #212529;
  line-height: 28px;
  margin-bottom: 0;
  opacity: 0.7;
}
/* end main style*/
body {
  background: #ffffff;
}
.xloo-block-secondary {
  padding:120px 0;
}
.section-our-company {
  position: relative;
  margin-top: 96px;
}
.section-our-company::before {
  content: '';
  width: 226px;
  height: 540px;
  display: block;
  position: absolute;
  right: 0;
  background: url(../images/our_company_dots_bg.png) center center no-repeat;
}
.our-company-team {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0;
  list-style-type: none;
  margin-bottom: 32px;
  padding-bottom: 22px;
}
.our-company-team:before {
  content: '';
  height: 1px;
  background: #93CB40;
  position: absolute;
  bottom: 0;
  width: 646px;
  left: 0;
  right: 0;
  margin: auto;
}
.our-company-team-item {
  width: 84px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.our-company-team-item p {
  font-weight: 600;
}
.our-company-team-item:before {
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 30px;
  background: #93CB40;
  position: absolute;
  bottom: -10px;
  left:0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.our-company-team-item:after {
  content: '';
  width: 1px;
  height: 12px;
  background: #93CB40;
  position: absolute;
  bottom: -22px;
  left:0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.our-company-team-item div {
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-70plus-block {
  margin: 9px 0;
}
.expertise-expert-block {
  margin-top: -10px;
}

/**
*   style accordion
*/
.title-accordion-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ico-trigger {
  position: relative;
  width: 20px;
  height: 2px;
  background: #212529;
}
.ico-trigger:before {
  content: '';
  height: 20px;
  width: 2px;
  background: #212529;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  opacity: 0;
}
.collapsed + .ico-trigger:before {
  opacity: 1;
}
.title-accordion-item .btn {
  color: #212529;
  font-size: 20px;
  font-weight: 600;
  padding: 5px 0;
  display: flex;
  align-items: center;
}
.btn-link-img {
  width: 60px;
  margin-right: 15px;
}
.title-accordion-item .btn:hover {
  text-decoration: none;
  color: #93CB40;
}
.title-accordion-item .btn:focus {
  text-decoration: none;
}
.card-header {
  background-color: #ffffff;
  padding: 10px 0;
}
.card-body {
  font-size: 15px;
  line-height: 28px;
  opacity: 0.7;
  text-align: justify;
  padding: 15px 0;
}
.card {
  border: none;
}
/**
*   end style accordion
*/

.xloo-text-primary {
  color: #93CB40;
}




